{% extends 'base.html' %}

{% block title %}Change password{% endblock title %}
{% block content %}
{% if error_message %}
    {{error_message}}
{% endif %}
<form action="" method="POST" >
    {% csrf_token %}
    <label for="">Enter Password</label>
    <br>
    <input type="text" name="password1">
    <br>
    <label for="">Enter Password Again</label>
    <br>
    <input type="text" name="password2">
    <button type="submit" class="btn btn-primary">update</button>
</form>
{% endblock content %}


